<!doctype html>
<html lang="de">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/bootstrap.min.css')}}">

    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/style.css')}}">

    <title>Password Demo</title>
</head>

<body>
    <nav class="navbar navbar-dark" style="background-color: #32b18e;">
        <span class="navbar-text h1">
            <img src="{{url_for('static', filename='logo_green.svg')}}" height="50" class="" alt="">
            ELITE International
        </span>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>