<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/style.css')}}">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <div class=container>
<p>You have reached the end of the 2-Factor Authentication demo.
You can find further information on the associated</p>
<a title="Teaching-Plattform" id="pw-unit" style="text-decoration:underline; color: #888">Teaching-Plattform</a>
        </div>
        </div>
        <script src="{{url_for('static', filename='signup-form/js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='link-router/router.js')}}"></script>
</body>
</html>