<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Willkommen</title>
</head>
<body>
<div class="content">
<div class=container>
    <div class="row">
        <div class="col-md-6">
<p>Hallo und willkommen bei MPSE Industries.<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Damit Ihre Karriere richtig durchstarten kann, müssen Sie sich zunächst bei unseren Web Services und Account Services anmelden. Dann haben Sie Zugang zu allen Diensten und können loslegen.</p>
<p>Dieser Online-Leitfaden führt Sie durch den sicheren Registrierungsprozess und die Zwei-Faktor-Authentifizierung.</p>
<p>Um den Vorgang erfolgreich abzuschließen, benötigen Sie Ihr Smartphone und die 2FA Authenticator App.</p>
<p>&nbsp;</p>
<p>Beginnen wir mit dem Registrierungsprozess.</p>
<p>Als erstes müssen Sie sich bei MPSE Account Services registrieren. Denken Sie dabei an eine sichere Kombination aus Benutzername und Passwort und verwenden Sie das Passwort bei keinem anderen Dienst.</p>
<p>&nbsp;</p>
<p> Wenn Sie weitere Informationen zu diesem Thema benötigen, sehen Sie sich die entsprechenden
<a title="Lernmaterial" id="pw-einheit" style="text-decoration:underline; color: #888">
    Lernmaterialen
</a>an.</p>
<p>Wenn Sie bereit sind, klicken Sie auf "Weiter", um den Registrierungsprozess zu starten.</p>

<br>
<a href="registrierung_kontodienste"><button class="btn btn-block btn-primary">Weiter</button></a>
        </div>
<!--</div>-->
<!--<div class="content">
    <div class="container">-->
        <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
<p><strong>2FA Authenticator</strong></p>
<p>Entwickler: Two Factor Authentication Service Inc.</p>
    
    <img src="{{url_for('static', filename='2fa.png')}}" class="img-fluid"/>

<p style="text-align: left;">
    <a title="2FA in Appstore" id="2FA-for-iOS-de" style="text-decoration:underline; color: #888">2FA-App für iOS-Geräte
    </a>
</p>
<p>
    <a title="2FA in Playstore" id="2FA-for-Android-de" style="text-decoration:underline; color: #888">
        2FA-App für Android-Geräte
    </a>
</p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script src="{{url_for('static', filename='signup-form/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='link-router/router.js')}}"></script>
</body>

</html>