<!DOCTYPE html>
<html lang="de">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Titel</title>
</head>
<body>
    <div class="content">
        <div class=container>
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>Sie haben sich erfolgreich bei MPSE Account Services registriert, auf der folgenden Seite müssen Sie den gleichen
Registrierungsprozess für die MPSE Web Services durchführen. Achten Sie darauf, dass Sie ein anderes Passwort verwenden.</p>
<a href="registrierung_webdienste"><button class="btn btn-block btn-primary">Weiter</button></a>
        </div>
    </div>
</body>
</html>