<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Willkommen</title>
</head>
<body>
<div class="content">
    <div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>Hallo und willkommen bei MPSE Industries.
Damit Ihre Karriere so richtig durchstarten kann, müssen Sie sich zunächst bei unserem Web Service und Account Services registrieren. Dann haben Sie Zugang zu allen Diensten und können loslegen.
Dieser Online-Leitfaden wird Sie durch den Registrierungsprozess führen.
Als erstes müssen Sie sich bei MPSE Account Services registrieren. Denken Sie sich dazu eine Kombination aus Benutzernamen und Passwort aus, die Sie sich merken können, und geben Sie diese auf der nächsten Seite ein.
Wenn Sie fertig sind, klicken Sie auf "Weiter", um den Registrierungsprozess zu starten.

</p>
<br>
<a href="registrierung_kontodienste"><button class="btn btn-block btn-primary">Weiter</button></a>
</div>
</div>
</body>

</html>