<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/style.css')}}">
    <title>Titel</title>
</head>
<body>
<div class="content">
    <div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid"/>
<p>Sie haben sich erfolgreich bei den MPSE Web Services angemeldet.
Jetzt haben Sie alle erforderlichen Konten erstellt und können mit der Arbeit beginnen.
Sie werden nun zu den MPSE Kontodiensten weitergeleitet, um sich zum ersten Mal bei Ihrem neuen Konto anzumelden.
Wenn Sie bereit sind, klicken Sie auf "Weiter".
</p>
<br>
<a href="anmeldung"><button class="btn btn-block btn-primary">Weiter</button></a>
</div>
</div>
</body>
</html>