<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/style.css')}}">
    <title>Titel</title>
</head>
<body>
<div class="content">
<div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>Achtung!
Aufgrund eines technischen Fehlers wurde Ihnen der veraltete Registrierungsprozess zur Verfügung gestellt.
Dieser Prozess verwendet veraltete Vorgaben und ist nicht mehr auf dem Stand der Technik!
Um Ihre und MPSE Industries Sicherheit zu gewährleisten, wurden Ihre Konten deaktiviert.
Wir müssen Sie bitten, den Registrierungsprozess erneut mit dem aktuellen Verfahren abzuschließen.
Bitte entschuldigen Sie die Unannehmlichkeiten und denken Sie daran, dass dies zu Ihrer Sicherheit geschieht!

Wenn Sie bereit sind, starten Sie bitte den sicheren Modus für diese Demonstration.

</p>
<br>
</div>
</div>
</body>
</html>