include .env native/installer/*
graft demos/**/native/*
graft demos/**/resources/*
graft demos/**/locales/*
graft native/**/native/*
graft native/nativeapp/utils/locale/locales/*
include demos/**/demo.json
