<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="favicon.ico" rel="icon"/>
    <link href="{{url_for('static', filename='css/google.css')}}" rel="stylesheet">


    <!-- <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}"> -->

    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Passwort Demo</title>
</head>
<body> 
    <div id="wrapper"></div>
    <nav class="navbar navbar-dark purple-color">
        <nav class="navbar navbar-dark purple-color header">
            <img src="{{url_for('static', filename='Nimbus Logo.svg')}}" class="logo" alt="">
        </nav>
    </nav>
        {% block content %}{% endblock %}
    </div>
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='link-router/router.js')}}"></script>
</body>
</html>
</body>
</html>
