[req]
default_bits    = 4096
default_md      = sha256
prompt          = no

# base request
distinguished_name  = req_distinguished_name

[req_distinguished_name]
countryName                 = "DE"
stateOrProvinceName         = "Hessen"
localityName                = "Darmstadt"
organizationName            = "h-da"
organizationalUnitName      = "ECS"
commonName                  = "ecs.fbi.h-da.de"
emailAddress                = "webmaster@ecs.fbi.h-da.de"