authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = coronahilfengermany.de
DNS.2 = www.coronahilfengermany.de
DNS.3 = covidsupportgermany.de
DNS.4 = www.covidsupportgermany.de
DNS.5 = storage.example.com
DNS.6 = lieferung-amazon.de
DNS.7 = www.lieferung-amazon.de
DNS.8 = shipment-support-amazon.com
DNS.9 = www.shipment-support-amazon.com
DNS.10 = amazon.com
DNS.11 = www.amazon.com
DNS.12 = de.linkedln.com
DNS.13 = nimbus.de