{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container">
        <img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
        <p>Hello and welcome to MPSE Industries.
            In order for your career to take off, you must first register with our Web Service and Account Services.
            Then you will have access to all services and can get started.
            This online guide will walk you through the registration process.
            The first thing you need to do is register with MPSE Account Services. To do this, think of a
            username/password combination that you can remember and enter it on the next page.
            When you are ready, click "Next" to start the registration process.

        </p>
        <br>
        <a href="register_account"><button class="btn btn-block btn-primary">Next</button></a>
    </div>
</div>
{% endblock %}