{% extends "base_card.html" %}

{% block cardtitle %}
Herzlich willkommen bei ELITE Industries
{% endblock %}
{% block cardtext %}
Wir freuen uns Sie an Bord zu haben!
Damit Ihre Karriere so richtig durchstarten kann, müssen Sie sich zunächst sowohl bei unserem Account-Service als auch Web-Services registrieren. So haben Sie Zugang zu allen Diensten und können direkt loslegen.
<br><br>
Dieser Online-Leitfaden wird Sie durch den Registrierungsprozess führen. Als erstes müssen Sie sich bei ELITE Account Services registrieren. Denken Sie sich dazu eine Kombination aus Benutzernamen und Passwort aus, die Sie sich merken können, und geben Sie diese auf der nächsten Seite ein. 
<br><br>
Um fortzufahren, klicken Sie auf "Weiter", um den Registrierungsprozess zu starten.
{% endblock %}
{% block cardbtn %}register_account{% endblock %}