{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Herzlich willkommen bei ELITE Industries</h5>
                <p class="card-text">
                    Wir freuen uns Sie an Bord zu haben!
                    Damit Ihre Karriere so richtig durchstarten kann, müssen Sie sich zunächst sowohl bei unserem Account-Service als auch Web-Services registrieren. So haben Sie Zugang zu allen Diensten und können direkt loslegen.
                    <br><br>
                    Dieser Online-Leitfaden wird Sie durch den Registrierungsprozess führen. Als erstes müssen Sie sich bei ELITE Account Services registrieren. Denken Sie sich dazu eine Kombination aus Benutzernamen und Passwort aus, die Sie sich merken können, und geben Sie diese auf der nächsten Seite ein. 
                    <br><br>
                    Um fortzufahren, klicken Sie auf "Weiter", um den Registrierungsprozess zu starten.                  
                </p>
                <div class="card-footer text-center">
                    <a href="register_account"><button class="btn btn-primary">Weiter</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}