{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registration erfolgreich</h5>
                <p class="card-text">Sie haben sich erfolgreich bei unserem Account Service registriert!</p>
                <p class="card-text">Als nächstes müssen Sie sich noch bei unserem Web Service registrieren.</p>
                <p class="card-text">Bitte klicken Sie hierzu auf weiter um fortzufahren</p>
                <div class="card-footer text-center">
                    <a href="register_webservice"><button class="btn btn-primary">Weiter</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}