{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registration erfolgreich</h5>
                <p class="card-text">Sie haben sich erfolgreich bei unserem Web Service registriert!</p>
                <p class="card-text">
                    Wir wünschen Ihnen viel Spaß bei uns!<br>
                    Klicken Sie auf "Weiter" um auf die Startseite zurückzukehren.
                </p>
                <div class="card-footer text-center">
                    <a href="end"><button class="btn btn-primary">Weiter</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}