{% extends "base_card.html" %}

{% block cardtitle %}
Registration erfolgreich{% endblock %}
{% block cardtext %}
<p class="card-text">Sie haben sich erfolgreich bei unserem Web Service registriert!</p>
<p class="card-text">
    Sie sind nun vollständig bei ELITE registriert! Sie werden nun zu den ELITE Account-Services weitergeleitet, um sich zum
            ersten Mal bei Ihrem neuen Konto anzumelden.
            Wenn Sie bereit sind, klicken Sie auf "Weiter".
</p>
{% endblock %}
{% block cardbtn %}end{% endblock %}