{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="card border-danger">
            <div class="card-body">
                <h5 class="card-title">Fehlerhafte Registration</h5>
                <p class="card-text">Aufgrund eines technischen Fehlers wurde Ihnen der veraltete Registrierungsprozess
                    zur Verfügung gestellt.!</p>
                <p class="card-text">Dieser Prozess verwendet veraltete Vorgaben und ist nicht mehr auf dem Stand der
                    Technik!
                    Um Ihre und ELITE Industries Sicherheit zu gewährleisten, wurden Ihre Konten deaktiviert.

                    Bitte kehren Sie auf die Demo Seite zurück und starten Sie diese Demo im sicheren Modus.
                </p>
            </div>
        </div>
        </p>
        <br>
    </div>
</div>
{% endblock %}