{% extends "base_green.html" %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="card border-danger">
            <div class="card-body">
                <h5 class="card-title">Fehlerhafte Registration</h5>
                <p class="card-text">Aufgrund eines technischen Fehlers wurde Ihnen der veraltete Registrierungsprozess
                    zur Verfügung gestellt.!</p>
                <p class="card-text">Dieser Prozess verwendet veraltete Vorgaben und ist nicht mehr auf dem Stand der
                    Technik!
                    Um Ihre und MPSE Industries Sicherheit zu gewährleisten, wurden Ihre Konten deaktiviert.
                    Wir müssen Sie bitten, den Registrierungsprozess erneut mit dem aktuellen Verfahren abzuschließen.
                    Bitte entschuldigen Sie die Unannehmlichkeiten und denken Sie daran, dass dies zu Ihrer Sicherheit
                    geschieht!

                    Wenn Sie bereit sind, starten Sie bitte den sicheren Modus für diese Demonstration.
                </p>
            </div>
        </div>
        </p>
        <br>
    </div>
</div>
{% endblock %}