{% extends "base_card.html" %}

{% block cardtitle %}
Welcome to Nimbus
{% endblock %}
{% block cardtext %}
We are happy to have you on board!<br>
To get your career off to a flying start, you must first register with <em>Nimbus Account Services</em>. This account will allow you to log in to all platforms at Nimbus.
<br><br>
This online guide will walk you through the registration process.
<br>
Once registered, you will need to secure your account with 2-factor authentication (2FA) and an appropriate app.
<br><br>  
{% endblock %}
{% block cardbtn %}<a href="register_account_services"><button class="btn btn-primary btn-block">Continue</button></a>{% endblock %}