{% extends "base.html" %}
{% block content %}
<div class="preload">
  <img src="{{url_for('static', filename='images/noun-eye-opened.png')}}"/>
  <img src="{{url_for('static', filename='images/noun-eye-closed.png')}}"/>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static', filename='images/undraw_remotely_2j6y.svg')}}" alt="Image"
          class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8 card-body card">
            <div class="mb-4">
              <h4>Registration<br>Nimbus Account Services</h4>
              <p class="small">Please register and use a secure and unique password.<br>To do so, follow the password requirements below the input fields.</p>
              <div>
                <p class="small username-info">Your username should be at least 5 characters long</p>
              </div>
            </div>
            <form autocomplete="off" method="post" id="login">

              <div class="form-group first" id="name_field">
                <label for="name">Username</label>
                <input type="text" class="password form-control" id="name" name="name">

              </div>
              <div class="form-group" id="password_field">

                <label for="password">Password</label>
                <div class="input-group">
                  <input type="password" class="password form-control" id="password" name="password">
                  <i toggle="#password" class="icon-eye toggle-passwort input-group-addon" data-toggle="tooltip"
                    data-placement="right" title="Click on the eye to see your password."></i>
                </div>

              </div>
              <div class="form-group" id="password_field">

                <label for="re-password">Repeat Password</label>
                <div class="input-group">
                  <input type="password" class="password form-control" id="re-password" name="re-password">
                </div>

              </div>
              <div class="indicator">
                <span class="weak"></span>
                <span class="medium"></span>
                <span class="strong"></span>
              </div>
              <input type="submit" value="Register" class="btn btn-block btn-primary register-button" disabled>
            </form>


            <div class="card text-dark bg-light mb-3 mt-3 border">
              <div class="card-header small">Password Requirements
              </div>
              <div class="card-body" id="pwd-req-body">
                <div class="small-letter card-text icon-remove small"> At least 1 lower case letter</div>
                <div class="capital-letter card-text icon-remove small"> At least 1 upper case letter</div>
                <div class="number-char card-text icon-remove small"> At least 1 number</div>
                <div class="special-char card-text icon-remove small"> At least 1 special character</div>
                <div class="lenght-check card-text icon-remove small"> At least 10 charackters long</div>
                <div class="guessable card-text icon-remove small"> Difficult to guess</div>
                <div class="re-enter-password card-text icon-remove small"> Passwords do match</div>
              </div>
            </div>

            <div class="card text-dark bg-light mb-3">
              <div class="card-header small">Tip 
              </div>
              <div class="card-body" id="tipp-body">
                <p class="password-info small">It is best to use a phrase as a password: <i><strong>The sun
                  always rises at 12 o'clock!</strong></i><br> You can find more information in the learning materials.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='link-router/router.js')}}"></script>
<script data-main="{{url_for('static', filename='js/indicator.js')}}"
  src="{{url_for('static', filename='js/require.js')}}">
  </script>
<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="indicator"
  src="{{url_for('static', filename='js/indicator.js')}}"></script>
{% endblock %}