<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Title</title>
</head>
<body>


<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{url_for('static', filename='images/undraw_remotely_2j6y.svg')}}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="mb-4">
                    <h3>Login 2 FA Kontodienste</h3>
                    <p class="mb-4">Geben sie bitte ihr 2FA an um sich einloggen zu können.</p>
                  </div>
            <form method="post">

                <div class="form-group last mb-4">
                    <label for="validation">Validation</label>
                    <div class="input-group">
                    <input class="form-control" name="validation" id="validation">
                    </div>
                  </div>
                
              <input type="submit" value="validate" class="btn btn-block btn-primary">
            </form>
            
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>