<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    

        <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Welcome</title>
</head>
<body>
<div class="content">
<div class=container>
    <div class="row">
        <div class="col-md-6">
<p>Guten Tag und willkommen bei MPSE Industries.<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Damit ihre Karriere bei uns richtig durchstarten kann, m&uuml;ssen sie sich zuerst bei unseren Web und Kontodiensten registrieren. Anschlie&szlig;end haben sie Zugriff auf alle Dienste und k&ouml;nnen durchstarten.</p>
<p>Dieser Online-Guide wird sie durch den sicheren Registrierungsprozess und die 2-Faktor-Authentifizierung begleiten.</p>
<p>Um den Prozess erfolgreich durchf&uuml;hren zu k&ouml;nnen, ben&ouml;tigen sie ihr Smartphone und die App 2FA Authenticator.</p>
<p>&nbsp;</p>
<p>Beginnen wir mit dem Registrierungsprozess.</p>
<p>Als Erstes m&uuml;ssen sie sich bei den MPSE Kontodiensten registrieren. Denken sie sich daf&uuml;r eine sichere Benutzernamen/Passwort Kombination aus und verwenden sie das Passwort bei keinem anderen Dienst.</p>
<p>Wenn sie bereit sind, klicken sie auf &bdquo;Weiter&ldquo; um den Registrierungsprozess zu starten.</p>

<br>
<a href="registration_kontodienste"><button class="btn btn-block btn-primary">Next</button></a>
        </div>
<!--</div>-->
<!--<div class="content">
    <div class="container">-->
        <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
<p><strong>2FA Authenticator</strong></p>
<p>Anbieter: Two Factor Authentication Service Inc.</p>
    <a title="2FA im Appstore" href="https://apps.apple.com/de/app/2fa-authenticator-2fas/id1217793794" target="_blank" rel="noopener">
    <img src="{{url_for('static', filename='2fa.png')}}" class="img-fluid"/>
</a>
<p style="text-align: left;">
    <a title="2FA im Appstore" href="https://apps.apple.com/de/app/2fa-authenticator-2fas/id1217793794" target="_blank">2FA im Appstore
    </a>
</p>
<p>
    <a title="2FA im Playstore" href="https://play.google.com/store/apps/details?id=com.twofasapp&amp;hl=de&amp;gl=US" target="_blank">
        2FA im Playstore
    </a>
</p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>

</html>