<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Welcome</title>
</head>
<body>
<div class="content">
<div class=container>
    <div class="row">
        <div class="col-md-6">
<p>Hello and welcome to MPSE Industries.<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>In order for your career to take off, you must first register with our Web Services and Account Services. Then you will have access to all services and you can get started.</p>
<p>This online guide will walk you through the secure registration process and two factor authentication.</p>
<p>To successfully complete the process, you will need your smartphone and the 2FA Authenticator app.</p>
<p>&nbsp;</p>
<p>Let's start with the registration process.</p>
<p>The first thing you need to do is register with MPSE Account Services. For this, think of a secure username/password combination and don't use the password with any other service.</p>
<p>When you are ready, click "Next" to start the registration process.</p>

<br>
<a href="registration_kontodienste"><button class="btn btn-block btn-primary">Next</button></a>
        </div>
<!--</div>-->
<!--<div class="content">
    <div class="container">-->
        <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
<p><strong>2FA Authenticator</strong></p>
<p>Developer: Two Factor Authentication Service Inc.</p>
    <a title="2FA im Appstore" href="https://apps.apple.com/de/app/2fa-authenticator-2fas/id1217793794" target="_blank" rel="noopener">
    <img src="{{url_for('static', filename='2fa.png')}}" class="img-fluid"/>
</a>
<p style="text-align: left;">
    <a title="2FA in Appstore" href="https://apps.apple.com/de/app/2fa-authenticator-2fas/id1217793794" target="_blank">2FA im Appstore
    </a>
</p>
<p>
    <a title="2FA in Playstore" href="https://play.google.com/store/apps/details?id=com.twofasapp&amp;hl=de&amp;gl=US" target="_blank">
        2FA im Playstore
    </a>
</p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>

</html>