<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">

    <title>Sign Up #7</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{{url_for('static', filename='signup-form/images/undraw_remotely_2j6y.svg')}}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4">This is the signup page for our Account Services</p>
            </div>
            <form method="post">

              <div class="form-group first">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="name" name="name">

              </div>
              <div class="form-group" id="password_field">
                
                <label for="password">Password</label>
                <div class="input-group">
                <input type="password" class="form-control password" id="password" name="password">
                <i toggle="#password" class="icon-eye toggle-password input-group-addon"></i>
                </div>
                
              </div>
              <div class="indicator">
                <span class="weak"></span>
                <span class="medium"></span>
                <span class="strong"></span>
             </div>
              <input type="submit" value="Register" class="btn btn-block btn-primary register-button" disabled>
            </form>
            

            <div class="card text-dark bg-light mb-3 mt-3"  >
              <div class="card-header" id="pwd-requirements">Password should have <div class="icon-chevron-down float-right" id="pwd-card-icon"></div> </div>
              <div class="card-body collapse " id="pwd-req-body">
                <div class="small-letter card-text icon-remove"> at least 1 small letter.</div>
                <div class="capital-letter card-text icon-remove"> at least 1 capital letter.</div>
                <div class="number-char card-text icon-remove"> at least 1 number.</div>
                <div class="special-char card-text icon-remove"> at least 1 special char.</div>
                <div class="lenght-check card-text icon-remove"> at least have a length of 10 chars.</div>
                <div class="guessable card-text icon-remove"> not easy to guess.</div>
              </div>
            </div>

            <div class="card text-dark bg-light mb-3" >
              <div class="card-header" id="tipp">Tipp <div class="icon-chevron-down float-right" id="tipp-card-icon"></div></div>
              <div class="card-body collapse" id="tipp-body">
                <p class="password-info">It is best to use a passphrase like for example: The sun always rises at 12. </p>
              </div>
            </div>
            </div>

          </div>
          
        </div>
        
      </div>
    </div>
  </div>
    <script src="{{url_for('static', filename='signup-form/js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='signup-form/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='signup-form/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='signup-form/js/main.js')}}"></script>
    <script data-main="{{url_for('static', filename='signup-form/js/indicator.js')}}" src="{{url_for('static', filename='signup-form/js/require.js')}}">
    </script>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="indicator" src="{{url_for('static', filename='signup-form/js/indicator.js')}}"></script>
  </body>
</html>