<!DOCTYPE html>
<html>
<head>
<script>
     var check = function() {
      if (document.getElementById('password').value ==
          document.getElementById('confirm_password').value) {
          document.getElementById('message').style.color = 'green';
          document.getElementById('message').innerHTML = 'matching';
      } else {
      		document.getElementById('message').style.color = 'red';
          document.getElementById('message').innerHTML = 'not matching';
      }
  }
</script>
<script type="text/javascript" src="./jquery.js">
</script>
<script type="text/javascript" src="./mustache.js">
</script>
<script data-main="demo" src="./require.js">
</script>
</head>
<body class="login-back">
{% block content %}
{{flash}}
{% endblock%}
    <h1>Regsitrierung MPSE Kontodienste</h1>
    <form method="POST">
        <label>name :
            <input name ="name">
        </label>
        <br>
        <label>password :
            <input name="password" id="password" type="password" onkeyup='check();' />
        </label>
        <br>
        <label>confirm password:
            <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' />
            <span id='message'></span>
            <input type="submit">
        </label>
    </form>
    <div id="search-results"></div>
</body>
</html>
