<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <div class=container>
<p>You have successfully completed the first step to your account registration.<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" /></p>
<p>Next, you need to set up your two factor authentication (2FA).</p>
<p>To do this, launch the 2FA Authenticator app on your smartphone and follow the instructions below.</p>
<ol>
<li> Open your 2FA Authenticator app on your smartphone.</li>
<li>The app will show an overview of all the security tokens you have registered. If you are using the app for the first time, you will see an empty list as shown in Figure 1.</li>
<li>Now click on the plus sign in the upper right corner of your screen and then on "Scan QR Code" as shown in Figure 2.</li>
<li>The app will ask for access to your camera. Confirm this permission. Now the app opens your camera and you can scan the QR code on the next page.</li>
<li>If the QR code was recognized as shown in Figure 3, your security token will be added. Now click on "Close" to complete the adding process.</li>
<li>Each token is valid for 60 seconds. A new token will then be generated. Enter the currently displayed security token as validation once and confirm it.</li>
</ol>
</div>
    <div class="container">
        <div class="row justify-content-center">
                    <div class="col-sm-3">   
                        <img  src="{{url_for('static', filename='abbildung1.PNG')}}" alt="Figure1" class="img-fluid float-left"  />
                        <p>Figure 1</p>
                    </div>
                    <div class="col-md-3">
                        <img  src="{{url_for('static', filename='abbildung2.PNG')}}" alt="Figure2" class="img-fluid" />
                        <p>Figure 2</p>
                    </div>
                    <div class="col-md-3">
                        <img  src="{{url_for('static', filename='abbildung3.PNG')}}" alt="Figure3" class="img-fluid float-right" />
                        <p>Figure 3</p>
                    </div>
        </div>
        <p> If you need more information about this topic, have a look at the related
<a title="teaching content" href="http://ecs.fbi.h-da.de:8081" target="_blank">
    teaching content
</a>.</p>
<p>When you are ready, click "Next" to start the two factor authentication process.</p>
    <a href="initial_2fa_kontodienste"><button class="btn btn-block btn-primary">Next</button></a>
    </div>
</div>

</body>
</html>