<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Title</title>
</head>
<body>
    <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="{{url_for('static', filename='signup-form/images/undraw_remotely_2j6y.svg')}}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="mb-4">
                  <h3>Initial two factor authentication for Account Services</h3>
                  <p class="mb-4"></p>
                </div>
                <form method="post">
    
                    <img src="{{url_for('static', filename='qrcode1.jpg')}}" class="img-fluid" />
        
                    
                    
                    <div class="form-group last mb-4">
                        <label for="validation">Verify</label>
                        <div class="input-group">
                        <input class="form-control" name="validation" id="validation">
                        </div>
                      </div>
                    
                  <input type="submit" value="Verify" class="btn btn-block btn-primary">
                </form>
                
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
      <script src="{{url_for('static', filename='signup-form/js/jquery-3.3.1.min.js')}}"></script>
      <script src="{{url_for('static', filename='signup-form/js/popper.min.js')}}"></script>
      <script src="{{url_for('static', filename='signup-form/js/bootstrap.min.js')}}"></script>
      <script src="{{url_for('static', filename='signup-form/js/main.js')}}"></script>
</body>
</html>


