<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Welcome</title>
</head>
<body>
<div class="content">
    <div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>Guten Tag und willkommen bei MPSE Industries.
Damit ihre Karriere bei uns richtig durchstarten kann, müssen sie sich zuerst bei unseren Web und Kontodiensten registrieren. Anschließend haben sie Zugriff auf alle Dienste und können durchstarten.
Dieser Online-Guide wird sie durch den Registrierungsprozess begleiten.
Als Erstes müssen sie sich bei den MPSE Kontodiensten registrieren. Denken sie sich dafür eine Benutzernamen/Passwort Kombination aus die sie sich gut merken können und geben sie diese auf der nächsten Seite ein.
Wenn sie bereit sind, klicken sie auf „Weiter“ um den Registrierungsprozess zu starten.
</p>
<br>
<a href="registration_kontodienste"><button class="btn btn-block btn-primary">Next</button></a>
</div>
</div>
</body>

</html>