<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form/css/style.css')}}">
    <title>Title</title>
</head>
<body>
<div class="content">
    <div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>You have successfully signed up for MPSE Account Services.
In order to use the full scope of our online services, you need to create another account for MPSE Web Services.
The process is identical to the registration you just completed.
Make sure you have a username/password combination that you can easily remember
and click "Next" when you are ready.
</p>
<br>
<a href="registration_webdienste"><button class="btn btn-block btn-primary">Next</button></a>
</div>
</div>
</body>
</html>