<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/style.css')}}">
    <title>Title</title>
</head>
<body>
<div class="content">
<div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>Attention!
Due to a technical error, the outdated registration process was made available to you.
This process uses outdated defaults and is no longer based on the state of the art!
To ensure your and MPSE Industries security, your accounts have been deactivated.
We must ask you to complete the registration process again using the current process.
Please forgive the inconvenience and remember, this is for your security!

When you are ready, click "Next" to proceed to the current registration process.

</p>
<br>
</div>
</div>
</body>
</html>