<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='signup-form-08/css/style.css')}}">
    <title>Title</title>
</head>
<body>
<div class="content">
<div class="container">
<img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
<p>Achtung!
Durch einen technischen Fehler wurde ihnen der veraltete Anmeldeprozess zur Verfügung gestellt.
Dieser Prozess benutzt veraltete vorgaben und beruht nicht mehr auf dem Stand der Technik!
Um ihre und die Sicherheit von MPSE Industries zu gewährleisten, wurden ihre Kontos deaktiviert.
Wir müssen sie bitten, den Registrierungsprozess erneut mit dem aktuellen Verfahren durchzuführen.
Bitte verzeihen sie die Unannehmlichkeiten und bedenken sie, dies geschieht zu ihrer Sicherheit!

Wenn sie bereit sind, klicken sie auf „Weiter“ um zu dem aktuellen Anmeldeprozess fortzufahren.
</p>
<br>
</div>
</div>
</body>
</html>