{% extends "base_green.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static', filename='signup-form-08/images/undraw_file_sync_ot38.svg')}}" alt="Image"
          class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Erste Zwei-Faktor-Authentifizierung für Webdienste</h3>
              <p class="mb-4"></p>
            </div>
            <form action="#" method="post">
              <img src="{{url_for('static', filename='qrcode4.jpg')}}" class="img-fluid" />
              <div class="form-group last mb-4">
                <label for="validation">Überprüfung</label>
                <div class="input-group">
                  <input class="form-control" name="validation" id="validation">
                </div>
              </div>
              <input type="submit" value="Überprüfen" class="btn btn-block btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='signup-form-08/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form-08/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form-08/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form-08/js/main.js')}}"></script>
{% endblock %}