{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static', filename='signup-form/images/undraw_remotely_2j6y.svg')}}" alt="Image"
          class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h4>Zwei-Faktor-Authentifizierung Anmeldung<br>ELITE Account-Services</h3>
              <p class="mb-4 small">Bitte verwenden Sie Ihren zwei Faktor Authentifizierung zur Validierung.</p>
            </div>
            <form method="post">

              <div class="form-group last mb-4">
                <label for="validation">Eingabe 2FA</label>
                <div class="input-group">
                  <input class="form-control" name="validation" id="validation">
                </div>
              </div>

              <input type="submit" value="Anmeldung" class="btn btn-block btn-primary">
            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<script src="{{url_for('static', filename='signup-form/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form/js/main.js')}}"></script>
{% endblock %}