{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class=container>
        <img style="float: right;" src="{{url_for('static', filename='logo.PNG')}}" class="img-fluid" />
        <p>Sie sind nun vollständig bei Nimbus registriert! Sie werden nun zu den Nimbus Account-Services weitergeleitet, um sich zum
            ersten Mal bei Ihrem neuen Konto anzumelden.
            Wenn Sie bereit sind, klicken Sie auf "Weiter".
        </p>
        <p> Wenn Sie weitere Informationen zu diesem Thema benötigen, sehen Sie sich die entsprechenden
            <!-- <a title="Lernmaterial" id="2FA-info-de" style="text-decoration:underline; color: #888">
                Lernmaterial
            </a> an. -->
        </p>
        <a href="login"><button class="btn btn-block btn-primary">Weiter</button></a>
    </div>
</div>
<script src="{{url_for('static', filename='signup-form-08/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='link-router/router.js')}}"></script>
{% endblock %}