{% extends "base_card.html" %}

{% block cardtitle %}
Herzlich willkommen bei Nimbus
{% endblock %}
{% block cardtext %}
Wir freuen uns Sie an Bord zu haben!<br>
Damit Ihre Karriere richtig durchstarten kann, müssen Sie sich zunächst bei <em>Nimbus Account-Services</em> registrieren. Mit diesem Account können Sie sich auf allen Plattformen bei Nimbus anmelden.
<br><br>
Dieser Online-Leitfaden wird Sie durch den Registrierungsprozess führen.
<br>
Nach der Registrierung müssen Sie Ihren Account mit einer 2-Faktor-Authentifizierung (2FA) und einer entsprechenden App sichern.
<br><br>  
{% endblock %}
{% block cardbtn %}<a href="register_account_services"><button class="btn btn-primary btn-block">Weiter</button></a>{% endblock %}