{% extends "base.html" %}
{% block content %}
<div class="preload">
  <img src="{{url_for('static', filename='images/noun-eye-opened.png')}}"/>
  <img src="{{url_for('static', filename='images/noun-eye-closed.png')}}"/>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static', filename='images/undraw_remotely_2j6y.svg')}}" alt="Image"
          class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8 card-body card">
            <div class="mb-4">
              <h4>Registrierung<br>Nimbus Account-Services</h4>
              <p class="small">Bitte registrieren Sie sich und verwenden Sie dabei ein sicheres Passwort.<br>Halten Sie sich dafür an die Passwort-Anforderungen unter den Eingabefeldern.</p>
            </div>
            <form method="post">

              <div class="form-group first" id="name_field">
                <label for="name">Benutzername</label>
                <input type="text" class="form-control" id="name" name="name">

              </div>
              <div class="form-group" id="password_field">

                <label for="password">Passwort</label>
                <div class="input-group">
                  <input type="password" class="password form-control" id="password" name="password">
                  <i toggle="#password" class="icon-eye toggle-passwort input-group-addon" data-toggle="tooltip"
                    data-placement="right" title="Klicken Sie auf das Auge, um das Passwort anzuzeigen."></i>
                </div>

              </div>
              <div class="indicator">
                <span class="weak"></span>
                <span class="medium"></span>
                <span class="strong"></span>
              </div>
              <input type="submit" value="Registrieren" class="btn btn-block btn-primary register-button" disabled>
            </form>


            <div class="card text-dark bg-light mb-3 mt-3 border">
              <div class="card-header small">Passwort-Anforderungen
              </div>
              <div class="card-body" id="pwd-req-body">
                <div class="small-letter card-text icon-remove small"> mindestens 1 Kleinbuchstabe.</div>
                <div class="capital-letter card-text icon-remove small"> mindestens 1 Großbuchstabe.</div>
                <div class="number-char card-text icon-remove small"> mindestens 1 Nummer.</div>
                <div class="special-char card-text icon-remove small"> mindestens 1 Sonderzeichen.</div>
                <div class="lenght-check card-text icon-remove small"> mindestens eine Länge von 10 Zeichen haben.</div>
                <div class="guessable card-text icon-remove small"> nicht leicht zu erraten.
                </div>
              </div>
            </div>

            <div class="card text-dark bg-light mb-3">
              <div class="card-header small">Tipp 
              </div>
              <div class="card-body" id="tipp-body">
                <p class="password-info small">Es ist am besten, eine Phrase als Passwort zu verwenden: <i><strong>Die Sonne
                      geht immer um 12 Uhr auf!</strong></i><br> Mehr Informationen finden Sie in den Lernmateralien.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='link-router/router.js')}}"></script>
<script data-main="{{url_for('static', filename='js/indicator.js')}}"
  src="{{url_for('static', filename='js/require.js')}}">
  </script>
<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="indicator"
  src="{{url_for('static', filename='js/indicator.js')}}"></script>
{% endblock %}