{% extends "base.html" %}
{% block content %}
<div class="container">
    <div>
        <h1 style="padding-bottom: 0.5em; padding-top: 1em; margin-top: 8px;">2FA Einführung</h1>
        <p>Wir werden in diesem Beispiel die App <b>Google Authenticator</b> nutzen.</p>
        <p>Der Google Authenticator ist sowohl für Android als auch iOS erhältlich.</p>
    </div>
    <div class="row">
        <div class="qr-code qr-code-1">
            <img src="{{url_for('static', filename='images/playstore_google_auth.png')}}" width="60%"
                style="border: 1px solid #DEE2E6; border-radius: 5px;" alt="Image" class="img-fluid">
            <p style="padding-top: 1em;">Google Play Store</p>
        </div>
        <div class="qr-code qr-code-1">
            <img src="{{url_for('static', filename='images/appstore_google_auth.png')}}" width="60%"
                style="border: 1px solid #DEE2E6; border-radius: 5px;" alt="Image" class="img-fluid">
            <p style="padding-top: 1em;">App Store</p>
        </div>
    </div>
    <div>
        <p style="float: left">Es gibt noch weitere kostenfreie 2FA Apps. Wenn Sie eine andere App nutzen möchten,
            informieren
            Sie sich vorher über die Sicherheit der App. Eine gute Grundvorraussetzung ist, wenn die App eine
            Open-Source-Lizenz besitzt.
            Weitere 2FA Apps finden Sie, indem Sie im <b>Play Store</b> oder im <b>Apple App Store</b> nach
            <b>Authentifizierung</b> suchen.</p>
        <p></p>

        <ol style="float: left">
            <li style="padding-bottom:1em">Öffnen Sie Ihre Google Authenticator App auf Ihrem Smartphone.</li>
            <li style="padding-bottom:1em">Beim ersten Starten sehen Sie einen Willkommensbildschirm. Klicken Sie auf
                <b>Jetzt Starten</b>.</li>
            <img width="40%" style="border: 1px solid #DEE2E6; border-radius: 5px;" src="{{url_for('static', filename='screen0.png')}}"
                alt="Figure1" class="rounded mx-auto d-block" />
            <li style="padding-bottom:1em; padding-top:1em;">Klicken Sie nun auf <b>QR-Code scannen</b>.</li>
            <img width="40%" style="border: 1px solid #DEE2E6; border-radius: 5px;" src="{{url_for('static', filename='screen1.png')}}"
                alt="Figure2" class="rounded mx-auto d-block" />
            <li style="padding-bottom:1em; padding-top:1em;">Die App fragt nach dem Zugriff auf Ihre Kamera. Bestätigen Sie diese
                Erlaubnis. Nun öffnet die App Ihre
                Kamera.</li>
            <li style="padding-bottom:1em">Scannen Sie jetzt den angezeigten QR-Code auf dem Monitor.</li>
            <img width="40%" style="border: 1px solid #DEE2E6; border-radius: 5px;" src="{{url_for('static', filename='screen2.png')}}"
                alt="Figure3" class="rounded mx-auto d-block" />
            <li style="padding-bottom:1em; padding-top:1em;">Es wird ein neues Konto angelegt und Sie sehen eine 6-stellige Zahl - der
                Sicherheitstoken<br>
                Jeder Token ist 60 Sekunden lang gültig.</li>
            <img width="40%" style="border: 1px solid #DEE2E6; border-radius: 5px;" src="{{url_for('static', filename='screen3.png')}}"
                alt="Figure3" class="rounded mx-auto d-block" />
            <li style="padding-bottom:1em; padding-top:1em;">Geben Sie den Code in das Eingabefeld ein und bestätigen Sie die Eingabe.
            </li>
            <img width="40%" style="border: 1px solid #DEE2E6; border-radius: 5px;" src="{{url_for('static', filename='screen4.png')}}"
                alt="Figure3" class="rounded mx-auto d-block" />
        </ol>
    </div>
</div>

<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='link-router/router.js')}}"></script>
<script data-main="{{url_for('static', filename='js/indicator.js')}}"
    src="{{url_for('static', filename='js/require.js')}}">
    </script>
<script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="indicator"
    src="{{url_for('static', filename='js/indicator.js')}}"></script>
{% endblock %}