{% extends "base.html" %}


{% block content %}
<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Registration erfolgreich</h5>
                <p class="card-text">Sie haben sich erfolgreich bei unseren Nimbus Account-Services registriert und angemeldet!</p>
                <p class="card-text">Wir wünschen Ihnen viel Spaß bei uns!</p>
                <br><br>
                <p class="card-text">Weitere Informationen und andere Demos finden Sie auf der ELITE-Lernplattform.</p>
            </div>
        </div>
        </p>
        <br>
    </div>
</div>
{% endblock %}