{% extends "base_card.html" %}

{% block cardtitle %}
Herzlich willkommen bei ELITE Industries
{% endblock %}
{% block cardtext %}
Wir freuen uns Sie an Bord zu haben!
Damit Ihre Karriere richtig durchstarten kann, müssen Sie sich zunächst bei <em>ELITE Account-Services</em> registrieren. Mit diesem Account können Sie sich auf allen Plattformen bei ELITE Industries anmelden.
<br><br>
Dieser Online-Leitfaden wird Sie durch den Registrierungsprozess führen.
<br><br>
Um fortzufahren, klicken Sie auf "Weiter", um den Registrierungsprozess zu starten.
{% endblock %}
{% block cardbtn %}register_account{% endblock %}