{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{url_for('static', filename='signup-form/images/undraw_remotely_2j6y.svg')}}" alt="Image"
          class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Registrierung<br>ELITE Account-Services</h3>
              <p class="mb-4">Bitte registrieren Sie sich und verwenden Sie dabei ein sicheres Passwort.</p>
            </div>
            <form method="post">

              <div class="form-group first" id="name_field">
                <label for="name">Benutzername</label>
                <input type="text" class="form-control" id="name" name="name" required>

              </div>
              <div class="form-group" id="password_field">

                <label for="password">Passwort</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" name="pwd" required>
                  <i toggle="#password" class="icon-eye toggle-passwort input-group-addon" data-toggle="tooltip"
                    data-placement="right" title="klicken Sie auf das Auge, um das Passwort anzuzeigen."
                    id="pw-eye"></i>
                </div>

              </div>
              <input type="submit" value="Registrieren" class="btn btn-block btn-primary mt-3">
            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<script src="{{url_for('static', filename='signup-form/js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='signup-form/js/main.js')}}"></script>
{% endblock %}