version: "3.9"
services:
  ${DEMO_ID}:
    # for prod
    #image:  ${REGISTRY_URL}/${GROUP_NAME}/demonstrations/${DEMO_ID}:master
    # for local build (dev/debug/test purposes)
    build:
      context: ../../../
    container_name: ${DEMO_ID}-${DEMO_MODE}
