pypiwin32
pyinstaller>=4.3
autopep8>=1.6.0
certifi>=2021.10.8
chardet>=4.0.0
click>=7.1.2
Flask>=1.1.2
Flask-Cors>=3.0.10
idna>=2.10
itsdangerous>=2.0.1
Jinja2>=3.0.2
MarkupSafe>=1.1.1
pycodestyle>=2.6.0
pydantic>=1.7.3
python-on-whales>=0.29
requests>=2.25.1
six>=1.15.0
toml>=0.10.2
tqdm>=4.55.1
typeguard>=2.10.0
typer>=0.3.2
urllib3>=1.26.2
Werkzeug>=1.0.1
PyYAML>=5.4.1
flake8
black
importlib_resources==5.4.0